<h1>{{title}}</h1>
{{#if conocido}}
    <p>Bienvenido {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
    <p>Sujeto desconocido</p>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre"><button>ingresar</button>
    </form>
{{/unless}}