<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Principal</li></a>
        <li><a href="/secundario">Secundario</li></a>
        <li><a href="/complementario">Complementario</li></a>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
